* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(166, 221, 166);
}

#panel {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

#ptop {
    padding: 0px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(72, 114, 72);
    color: white;
}

.elem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2 {
    font-size: 2vw;
}

.box {
    padding: 0.6vw 1.6vw;
    background-color: white;
    border-radius: 5px;
    /* font-size: 28px; */
    font-size: 2vh;
    color: black;
    font-weight: 700;
}

#pbtm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: calc(100% - 100px);
    /* background-color: black; */
    /* padding: 20px; */
    padding: 1vw;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8vw;
    height: 3.8vw;
    background-color: rgb(72, 114, 72);
    color: white;
    font-size: 1vw;
    border-radius: 50%;
    font-weight: 500;
    transition: 0.2s;
}

.bubble:hover {
    background-color: rgb(51, 82, 51);
    scale: 1.2;
    cursor: pointer;
}

@media(max-width:885px) {
    .bubble {
        width: 5.5vw;
        height: 5.5vw;
        font-size: 2vw;
    }
}
@media(max-width:450px)
{
    .bubble{
        width: 11vw;
        height: 11vw;
        font-size: 3vw;
    }
    .elem{
        gap: 5px;
    }
    .elem h2 {
        font-size: 15px;
    }
}